# Secrets
infra/.env

# Dist
dist/etl-service/*
dist/ocm-service/*
dist/tests/*

!dist/*/.yarnrc.yml
!dist/*/yarn.lock
!dist/*/package.json

# Yarn with zero installs
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/cache

# Intellij
.idea
