# Build files
dist/*
!dist/etl-service/package.json
!dist/ocm-service/package.json
!dist/tests/package.json
!dist/*/yarn.lock
!dist/*/.yarnrc.yml
!dist/*/Dockerfile

# Secrets
infra/.env

# Yarn with zero installs
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
!.yarn/cache

# Intellij
.idea
